@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;

  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #fff, #ece9e6);
  background: linear-gradient(to right, #fff, #ece9e6);

  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  & input {
    background-color: #eee;
    border-radius: 3px;
    border: none;
    padding: 0.5rem 1rem;
    font-family: inherit;
  }

  & button {
    background-color: transparent;
    border: none;

    margin-left: 1rem;
    color: rgb(138, 129, 141);
    cursor: pointer;
  }
}

.icon {
  width: 20px;
}

.mobile-container {
  width: 400px;
  background: #fff;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;

  & img {
    max-width: 100%;
  }

  & .fav-container {
    background-color: rgb(146, 226, 255);
    padding: 1rem;
    text-align: center;

    & .fav-meals {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      gap: 2rem;

      & li {
        width: 75px;

        & img {
          border: 2px solid #fff;
          box-shadow: 0 0 10px 2px #3333331a;
          width: 70px;
          height: 70px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }

  & .meals {
    & .meal {
      box-shadow: 0 0 10px 2px #3333331a;
      border-radius: 3px;
      margin: 1.5rem;
      overflow: hidden;

      & .meal-header {
        position: relative;

        & img {
          height: 250px;
          width: 100%;
          object-fit: cover;
        }

        & .random {
          position: absolute;
          top: 1rem;
          background-color: #fff;
          padding: 0.25rem 1rem;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }

      & .meal-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        & .fav-btn {
          background-color: transparent;
          border: none;
          cursor: pointer;

          & .heart {
            fill: none;
          }
          & .heart.active {
            fill: tomato;
          }
        }
      }
    }
  }
}
