@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(145deg, #F9F871, #FFC75F, #FF9671, #FF6F91);
}

h1, p {
    padding: 10px;
    text-align: center;
}

form {
    text-align: center;
}