@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);

  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;

  list-style: none;

  & li {
    margin: 1rem 0;
    display: flex;
    align-items: baseline;
    gap: 0.5rem;

    & input {
      cursor: pointer;
    }

    & label {
      cursor: pointer;
    }
  }
}

.quiz-container {
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  border-radius: 10px;

  width: 600px;
  max-width: 90%;

  overflow: hidden;

  & .quiz-header {
    padding: 4rem;
  }

  & button {
    display: block;

    background-color: #8e44ad;
    border: none;

    width: 100%;
    padding: 1.3rem;

    color: #fff;
    font-family: inherit;
    font-size: 1.3rem;

    cursor: pointer;
    transition: all 0.7s ease;
  }

  & button:hover {
    background-color: #732d91;
  }
}
